# Dependencies
/node_modules/

# IDE configuration files
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Optional build output dirs/files
dist/
build/

# Environment variables
.env

